.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  background-color: #f2f2f2;
  z-index: 0;
  display: flex;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0px;
  top: 64px;
  background-color: #2f80ed;
  z-index: 0;
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 3;
}

.header__title {
  position: relative;
  align-self: center;
  z-index: 2;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  width: 730px;
  margin: 0 0 0 64px;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

/* .header__flex-column {
  display: flex;
  height: 100%;
} */


.main {
  display: flex;
  position: relative;
  justify-content: center;
}

.description {
  display: flex;
  justify-content: center;
  margin: 100px 0px 0px 0px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0px;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-of-type {
  margin: 0px;
}


.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}


.digits {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 100px 0 0 0;
}

.section-subtitle {
  margin: 20px 0;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  margin: 0px auto 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  color: rgb(0, 0, 0);
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px 0;

}



.feynman {
  background-color: #f2f2f2;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  position: relative;
  min-height: 890px;
}


.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 2;
  margin: 100px 0 0 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  margin: 70px 0 0 0;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__image {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 637px;
  width: 867px;
  z-index: 1;

}


.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  color: white;
  z-index: 0;
  overflow: hidden;
}


.table_theme_dark {
  margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0 0;
  z-index: 2;
}

.table__heading_theme_dark {
  text-align: center;
  margin: 80px 0 0 0;
}

.section-title_theme_dark {
  width: 60%;
  margin: 90px 0 0 0;
}

.section-subtitle_theme_dark {
  width: 60%;
}

.kaufman__image {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: -210px;
  height: 877px;
  width: 877px;
  z-index: 1;

}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  color: #ffffff;
  margin: 60px auto 40px auto;
}


.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  z-index: 2;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
  justify-content: flex-start;
}

.footer__column_content_social {
  justify-content: flex-start;
}

.footer__column-link {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  align-items: baseline;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}


.footer__column-link:visited {
  color: #ffffff;
}

.footer__column-link:active {
  color: #ffffff;
}


.footer__column-links {
  margin: 20px 0 16px 0;
}

.footer__column-heading {
  margin: 0px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;

}

.footer__social-icon {
  margin: 0 10px 0 0;
  height: 16px;
  width: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}